/*~~~~~~~~~~~~~CHART STYLE!*/
#attendance-chart, #party-chart {
  font: 15px sans-serif;
  text-align: center;
  padding: 3px;
  margin: 1px;
  color: white;
}

.legend {
  font-size: 12px;
}

rect {
  stroke-width: 2;
}



/*~~~~~~~~~~~~~PAGE STYLE*/
#home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

#home>.row {
  margin: 50px inherit;
  justify-content: center;
  flex-grow: 1;
}

.glyphicon.glyphicon-check {
  font-size: 150px;
  margin-right: 50px;
}

.glyphicon-check {
  /*justify-content: center;*/
}

#congressperson-name {

}

#charts {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
}

.chart {
  flex-grow: 1;
  justify-content: center;
}

.dropdown > ul {
  width: 100%;
}

.dropdown-menu {
  max-height: 250px;
  overflow: auto;
}
